@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
	background: #E6E7E9;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #888;
}

* {
	margin:0;
	padding:0;
}


.clearfix:after {
    display:block;
    clear:both;
}

.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}

.menu {
    width:960px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.menu a {
    transition:all linear 0.20s;
    color:#fff;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#fff;
}

.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:26px 40px;
    display:inline-block; 
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
} 

.menu > ul > li:hover > a, .menu > ul > a {
    background:#DE2D3A;
}


.menu li:hover .sub-menu {
    z-index:11;
    opacity:11;
    background:#DE2D3A;
}

.sub-menu {
    width:100%;
    padding:0px 0px;
    position:absolute;
    top:100%;
    left:0px;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#4076AB;
}

.sub-menu li {
    /**display:block;**/
    font-size:16px;
}

.sub-menu li a {
    padding:20px 30px;
   /** display:block;**/
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#DE2D3A;
}

/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #799AC0 none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
    color:#4076AB;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a {
	color: #799AC0;
}

a:hover {
	color: #DE2D3A;
}

a:focus {
	outline: none;
}


a.button { 
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background-color: #4076AB;
}


fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #DE2D3A;
	border: 1px solid #ccc;
	border-right:1px solid #4076AB;
	border-bottom:1px solid #4076AB;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

form input.formbutton {
	border: none;
	background: #DE2D3A;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 15px;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h3 {
	color: #DE2D3A;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h4 {
    font-family: 'Pontano Sans', Arial, sans-serif;
    color: #799AC0;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0 5px 5px 5px #CCCCCC;
	background-color: #fff;
}

header {
	padding: 35px 0;
	background: #fff;
	margin: 0 auto;
	text-align:center;
}


.header_logo img {
  float: left;
  width: 210px;
  height: 100px;
  background: #555;
  max-height: 100%;
  max-width: 100%;
}

.header_logo h1 {
  position: relative;
  top: 18px;
  right: 90px;
}

.header_logo h2 {
  position: relative;
  top: 18px;
  right: 90px;
}

header h1 a, header h1 a:hover {
 color: #799AC0;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span { 
	color: #DE2D3A;
}


header h2 {
	color: #DE2D3A;
	font-size: 13px;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}


.dropdown_a {
    background-color: #799AC0;
    color: #799AC0;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #799AC0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_a:hover .dropdown-content {
    display: block;
}
nav {
	height: 70px;
	background-color: #799AC0;
}

nav ul {
	height: 70px;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
}


nav ul li a {
    color: #eee;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 0;
   margin: 0;
    padding: 28px 20px 25px;
    text-decoration: none;
    text-transform: uppercase;
	border-right:1px solid #668CB7;
}
nav ul li.selected a,
nav ul li.selected a:hover { 
	background-color: #4076AB;
	color: #742121; 
	font-weight:bold;
}


nav ul li a:hover {
	color: #c34c4c;
	background-color: #4076AB;
	text-decoration: none;
}

img.header-image { padding-top: 10px;
			margin-bottom: -3px; }

#body {
	background: none;
    margin:0 auto;
    padding: 0;
 	clear: both;
}

#left_nav{
		background: none;
clear: both;
top:-100px;
width:280px;
float:left;
  
 }

  #content_product{
    

width:680px;
float:right;
      
    
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #fff, #fff);
  background: -moz-linear-gradient(right, #fff, #fff);
  background: -o-linear-gradient(right, #fff, #fff);
  background: linear-gradient(to left, #fff, #fff);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
     
 }

p {
  margin: 0px;
}

 - #footer {
background: none;
	margin:0 auto;
 	padding: 0;
	clear: both;
    background: #E6E7E9;
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #888;}

#content {
    float: right;
    width: 71%;
}

article {
    border-bottom: 2px solid #ddd;
    padding: 10px 10px 20px 10px;
 }

article h2 { 
    padding-bottom: 0;
}

article h2 span1 { 
	color: #4076AB;
    
}
article h2 span2 { 
	color: #DE2D3A;
}

article p span { 
	color:#000;
}

article p span1 { 
	color: #4076AB;
    font-weight:500;
    
}
article p span2 { 
	color: #DE2D3A;
    font-weight:500;
}

article ul li span1 { 
	color: #4076AB;
    font-weight:500;    
}

article ul li span2 { 
	color: #DE2D3A;
    font-weight:500;
}

article .article-info {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}

.sidebar {
    float: left;
    width: 260px;
	margin-top: 10px;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	padding: 7px 7px;
	border-bottom: 1px solid #A31923;
  	background-color: #DE2D3A;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
    
}

.sidebar ul li {
	background-color: #4076AB;
	margin-bottom: 20px;
	line-height: 1.9em;
    
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}

.sidebar li ul li.text { 
	border-bottom: none;
    color: #fff;
    font-weight:500;
}



.sidebar li ul li a {
	font-weight:100;
    color: #fff;
}

.sidebar li ul li a:hover {
    color: #DE2D3A;
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}




.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 960px;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 20px 25px 30px;
	background: #ddd;
	border-top: 10px solid #DB2C39;
}

footer .footer-content ul {
	width: 260px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	border-bottom: 1px dashed #ccc;
	padding: 10px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
 color: #666666;
    font-size: 13px;
    text-decoration: underline;
}

footer .footer-content li a:hover { 
	color: #222;
}

footer .footer-content h4 {
   color: #666666;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #DB2C39;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee;
}