<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">


  <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>HomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>

<servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>TabletDisplayServlet</servlet-name>
        <servlet-class>TabletDisplayServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>TabletDisplayServlet</servlet-name>
        <url-pattern>/TabletDisplayServlet</url-pattern>
  </servlet-mapping>

<servlet>
        <servlet-name>TvDisplayServlet</servlet-name>
        <servlet-class>TvDisplayServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>TvDisplayServlet</servlet-name>
        <url-pattern>/TvDisplayServlet</url-pattern>
  </servlet-mapping>


<servlet>
        <servlet-name>SmartPhoneDisplayServlet</servlet-name>
        <servlet-class>SmartPhoneDisplayServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SmartPhoneDisplayServlet</servlet-name>
        <url-pattern>/SmartPhoneDisplayServlet</url-pattern>
  </servlet-mapping>

<servlet>
        <servlet-name>LaptopDisplayServlet</servlet-name>
        <servlet-class>LaptopDisplayServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>LaptopDisplayServlet</servlet-name>
        <url-pattern>/LaptopDisplayServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>IndexPageServlet</servlet-name>
        <servlet-class>IndexPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>IndexPageServlet</servlet-name>
        <url-pattern>/IndexPageServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>SignupDesignServlet</servlet-name>
        <servlet-class>SignupDesignServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SignupDesignServlet</servlet-name>
        <url-pattern>/SignupDesignServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>AdminPageServlet</servlet-name>
        <servlet-class>AdminPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>AdminPageServlet</servlet-name>
        <url-pattern>/AdminPageServlet</url-pattern>
  </servlet-mapping>


  <servlet>
        <servlet-name>AddAdminProductDesignServlet</servlet-name>
        <servlet-class>AddAdminProductDesignServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>AddAdminProductDesignServlet</servlet-name>
        <url-pattern>/AddAdminProductDesignServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>AddAdminProductServlet</servlet-name>
        <servlet-class>AddAdminProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>AddAdminProductServlet</servlet-name>
        <url-pattern>/AddAdminProductServlet</url-pattern>
  </servlet-mapping>

   <servlet>
        <servlet-name>UpdateAdminDesignProductServlet</servlet-name>
        <servlet-class>UpdateAdminDesignProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>UpdateAdminDesignProductServlet</servlet-name>
        <url-pattern>/UpdateAdminDesignProductServlet</url-pattern>
  </servlet-mapping>

   <servlet>
        <servlet-name>UpdateAdminProductServlet</servlet-name>
        <servlet-class>UpdateAdminProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>UpdateAdminProductServlet</servlet-name>
        <url-pattern>/UpdateAdminProductServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>DeleteAdminProductServlet</servlet-name>
        <servlet-class>DeleteAdminProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>DeleteAdminProductServlet</servlet-name>
        <url-pattern>/DeleteAdminProductServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>AddToCartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>CartProductDisplay</servlet-name>
        <servlet-class>CartProductDisplay</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>CartProductDisplay</servlet-name>
        <url-pattern>/CartProductDisplay</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>DeleteCartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>UpdatedCartProduct</servlet-name>
        <servlet-class>UpdatedCartProduct</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>UpdatedCartProduct</servlet-name>
        <url-pattern>/UpdatedCartProduct</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>PlaceOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>

<servlet>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <servlet-class>SubmitOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>SalesPageServlet</servlet-name>
        <servlet-class>SalesPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SalesPageServlet</servlet-name>
        <url-pattern>/SalesPageServlet</url-pattern>
  </servlet-mapping>

   <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>SignOutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>

   <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>OrderHistoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>DeleteOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>


  <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>UpdateOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>

   <servlet>
        <servlet-name>UpdateOrderHistoryServlet</servlet-name>
        <servlet-class>UpdateOrderHistoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>UpdateOrderHistoryServlet</servlet-name>
        <url-pattern>/UpdateOrderHistoryServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>WriteReviewsServlet</servlet-name>
        <servlet-class>WriteReviewsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>WriteReviewsServlet</servlet-name>
        <url-pattern>/WriteReviewsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>ReadReviewsServlet</servlet-name>
        <servlet-class>ReadReviewsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>ReadReviewsServlet</servlet-name>
        <url-pattern>/ReadReviewsServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <servlet-class>SubmitReviewServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <url-pattern>/SubmitReviewServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>DataAnalyticsDesignServlet</servlet-name>
        <servlet-class>DataAnalyticsDesignServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>DataAnalyticsDesignServlet</servlet-name>
        <url-pattern>/DataAnalyticsDesignServlet</url-pattern>
  </servlet-mapping>


  <servlet>
        <servlet-name>FindReviewsServlet</servlet-name>
        <servlet-class>FindReviewsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>FindReviewsServlet</servlet-name>
        <url-pattern>/FindReviewsServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>SalesDeleteServlet</servlet-name>
        <servlet-class>SalesDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SalesDeleteServlet</servlet-name>
        <url-pattern>/SalesDeleteServlet</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>SalesUpdateProduct</servlet-name>
        <servlet-class>SalesUpdateProduct</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SalesUpdateProduct</servlet-name>
        <url-pattern>/SalesUpdateProduct</url-pattern>
  </servlet-mapping>


 <servlet>
        <servlet-name>SalesUpdateDesignServlet</servlet-name>
        <servlet-class>SalesUpdateDesignServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SalesUpdateDesignServlet</servlet-name>
        <url-pattern>/SalesUpdateDesignServlet</url-pattern>
  </servlet-mapping>


  <servlet>
        <servlet-name>SearchDataServlet</servlet-name>
        <servlet-class>SearchDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>SearchDataServlet</servlet-name>
        <url-pattern>/SearchDataServlet</url-pattern>
  </servlet-mapping>

  
  <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
  </servlet-mapping>

  
  <servlet>
        <servlet-name>AutoSearchServlet</servlet-name>
        <servlet-class>AutoSearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>AutoSearchServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>


  <servlet>
        <servlet-name>ResultProdPage</servlet-name>
        <servlet-class>ResultProdPage</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>ResultProdPage</servlet-name>
        <url-pattern>/ResultProdPage</url-pattern>
  </servlet-mapping>

  

  <welcome-file-list>  
   <welcome-file>Index</welcome-file>  
  </welcome-file-list>

</web-app>
